body {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background: #fff;
}
a,
ul,
ol {
  text-decoration: none;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
.link {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
}
.logo {
  font-size: 18px;
  line-height: 1.3125;
  font-weight: 700;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #2e2f42;
}
.title-1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.0714;
  letter-spacing: 1.12px;
}
.title-2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.title-3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.text {
  line-height: 24px;
  letter-spacing: 0.32px;
}
.button {
  border: none;
  font: inherit;
  color: inherit;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*-------- header --------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
}
.header__navigation {
}
.header__logo {
  color: #2e2f42;
}
.header__logo--blue {
  color: #4d5ae5;
}
.header__link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
}
.header__link:hover,
.header__link:focus {
  color: #404bbf;
}
.header__link--weight {
  font-weight: 500;
}
.header__link--color {
  color: #434455;
}
.header__navigation .header__link:active {
  border-bottom: 4px solid #404bbf;
}
.header__address {
}
.header__menu {
}

/*-------- main --------*/

.main {
}

/*-------- first-section --------*/

.first-section {
  text-align: center;
  background: #2e2f42;
  color: #fff;
}
.first-section__title {
}
.first-section__button {
}

/*-------- section-1 --------*/

.section-1 {
}
.section-1__title-2 {
}
.section-1__list {
}
.section-1__column {
}
.section-1__title-3 {
}
.section-1__text {
}

/*-------- section-2 --------*/

.section-2 {
  background: #f4f4fd;
}
.section-2__title-2 {
}
.section-2__list {
}
.section-2__column {
}
.section-2__image {
}
.section-2__title-3 {
}
.section-2__text {
}

/*-------- section-3 --------*/

.section-3 {
}
.section-3__title-2 {
  text-align: center;
}
.section-3__list {
}
.section-3__column {
  border: 1px solid #e7e9fc;
  background: #fff;
}
.section-3__image {
}
.section-3__title-3 {
  text-align: left;
}
.section-3__text {
  text-align: left;
}
