body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background: #fff;
}
a,
ul,
ol {
  text-decoration: none;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
.link {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
}
.logo {
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #4d5ae5;
}
.title-1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.0714;
  letter-spacing: 1.12px;
}
.title-2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.title-3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.text {
  line-height: 24px;
  letter-spacing: 0.32px;
}
.button {
  border: none;
  font: inherit;
  color: inherit;
  background: #4d5ae5;
}

/*-------- header --------*/

.header {
  font-family: "Raleway", sans-serif;
  background: #fff;
}
.header__navigation {
}
.header__logo {
}
.header__logo--color {
  color: #2e2f42;
}
.header__link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
}
.header__link:hover,
.header__link:focus {
  color: #404bbf;
}
.header__link--weight {
  font-weight: 500;
}
.header__link--color {
  color: #434455;
}
.header__navigation .header__link:active {
}
.header__address {
  font-style: normal;
}
.header__menu {
}

/*-------- main --------*/

.main {
}

/*-------- section-1 --------*/

.section-1 {
  text-align: center;
  background: #2e2f42;
  color: #fff;
}
.section-1n__title {
}
.section-1__button {
}

/*-------- section-2 --------*/

.section-2 {
}
.section-2__title-2 {
}
.section-2__list {
}
.section-2__column {
}
.section-2__title-3 {
}
.section-2__text {
}

/*-------- section-3 --------*/

.section-3 {
  background: #f4f4fd;
}
.section-3__title-2 {
}
.section-3__list {
}
.section-3__column {
}
.section-3__image {
}
.section-3__title-3 {
}
.section-3__text {
}

/*-------- section-4 --------*/

.section-4 {
}
.section-4__title-2 {
  text-align: center;
}
.section-4__list {
}
.section-4__column {
  border: 1px solid #e7e9fc;
  background: #fff;
}
.section-4__image {
}
.section-4__title-3 {
  text-align: left;
}
.section-4__text {
  text-align: left;
}

/*-------- footer --------*/

.footer {
  background: #2e2f42;
  text-align: left;
}
.footer__logo {
  color: #f4f4fd;
}
.footer__text {
  color: #f4f4fd;
}
